<div class="section categories">
    <div class="container">
        <h3 class="section-heading">Responsive Images</h3>
        <p class="section-description">Skeleton images sit easily in grid with .u-max-full-width class. I suggest
            exploring solution to serving different images based on device size.</p>
        <div class="row">
            <div class="one-half column category">
                <img class="u-max-full-width" src="images/placeholder.png">
            </div>
            <div class="one-half column category">
                <img class="u-max-full-width" src="images/placeholder.png">
            </div>
        </div>
    </div>
</div>