<div class="section get-help">
    <div class="container">
        <h3 class="section-heading">Need help getting started?</h3>
        <p class="section-description">Skeleton is an amazingly easy place to start with responsive development. If you
            want to learn more, just visit the documentation!</p>
        <a class="button button-primary" href="http://getskeleton.com">View Skeleton Docs</a>
    </div>
</div>