<div class="section hero">
    <div class="container">
        <div class="row">
            <div class="one-half column">
                <h4 class="hero-heading">Stop coding non-responsive sites. Let users view sites from anywhere.</h4>
                <a class="button button-primary" href="http://getskeleton.com">Try Skeleton</a>
            </div>
            <div class="one-half column phones">
                <img class="phone" src="images/iphone.png">
                <img class="phone" src="images/iphone.png">
            </div>
        </div>
    </div>
</div>